* {
	text-align: center;
	font-family: Raleway;
}

a {
    text-decoration: none;
    color: rgb(60, 60, 60);
}

html, body {
    padding:0;
    margin: 0;
    min-width: 500px;
    min-height: 500px;
    height: 100%;
    position: relative;
}


.head {
	text-align: center;
	font-size: 35px;
    height: 10%;
}

.head h1 {
    margin-top: 0;
}

div.content {
    float: top;
    height: 75%;
}

button {
    background-color: #bfd7ff;
    border: none;
    border-radius: 10%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
}

.play {
    background-color: rgb(60, 60, 60);
    font-size: 2vw;
    padding: 1.8vw;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    border-radius: 50%;
	width: 8%;
}

img {
    text-align: bottom;
    height: 15%;
    width: auto;
    bottom: 0px;
    opacity: 0.7;
}

footer {
    height: 15%;
}
/*#digi {
    left:5%;
    border: 3px solid #73AD21;
}

#bma {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid red;
}*/

div.gallery {
    display: inline-block;
    margin: 5px;
    /*float: left;*/
    width: 30%;
}

div.gallery img {
    bottom: 10px;
    width: auto;
    height: 4.5%;
    position: absolute;
}
