div.gallery {
    padding: 10px:;
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
    opacity: 0.8;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    font-family: Raleway;
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    margin-top: 20px;
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h2 {
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  text-align: center;
}

h4 {
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
  text-align: center;
}
</style>