extends ../_pug/layouts/circle

block header-title
    | 0 + 1 = SOM

block title
    //- title 0 + 1 = SOM | Sessão 2
    title 0 + 1 = SOM | Session 2

block subtitle
    //- | Session 2
    | Session 2

block subtitle2
    //- | Ritmo e Melodia
    | Rhythm and Melody

//- block instructions-pt
//-     | Clica nos círculos pequenos para escolher o som - uma vez para o <span class="word blue">azul</span>,
//-     | duas vezes para o <span class="word green">verde</span>, três vezes para o <span class="word red">vermelho</span>,
//-     | quatro vezes para o <span class="word white">branco</span>. Clica nos botões de baixo para escolher o andamento.

//- block instructions-en
block instructions-pt
    | Click the small circles to choose the sound - once for <span class="word blue">blue</span>, twice for <span class="word green">green</span>,
    | three times for <span class="word red">red</span> and four times for <span class="word white">white</span>.
    | Click the buttons at the bottom to choose the tempo.
