extends ../_pug/layouts/circle

block header-title
    | 0 + 1 = SOM

block title
    title 0 + 1 = SOM | S2

block subtitle
    | {{ $t("session") }} 2

block subtitle2
    | {{ $t("sessionNames")[1] }}

block instructions
    | {{ $t("help.circle") }}
