extends ../_pug/layouts/circle

block header-title
    | 0 + 1 = SOM

block title
    title 0 + 1 = SOM | S1

block subtitle
    | {{ $t("session") }} 1

block subtitle2
    | {{ $t("sessionNames")[0] }}

block instructions
    | {{ $t("help.circle") }}
