@import "colors";
@import "loader";
@import "interaction";
@import "layout";
@import "sizes";
@import "modal";

#contact li {
    display: inline;
    margin: 5px;
}
#contact i {
    font-size: 30px;
    color: red;
}
