@import "colors";

/*=============================
=            DEBUG            =
=============================*/

// #help     { background: brown; }
// #title    { background: cadetblue; }
// #info     { background: cornflowerblue; }
// #icons    { background: darkolivegreen; }
// #svg      { background: darkred; }
// #bpms     { background: dodgerblue; }
// #controls { background: indianred; }
// #sponsors { background: lightslategrey; }

// div, svg {
//     border: 1px solid black;
// }

// NOTE: show active breakpoint at top-left corner
#breakpoint {
    position: fixed;
    top: 10px;
    left: 10px;
    &::after { display: none; }
}

/*================================
=            ELEMENTS            =
================================*/

* {
    font-family: Raleway;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
    max-height: 100vh !important;
    margin: 0 auto;
    color: $default;
}

a:visited, a:hover, a {
    color: $default;
}

i, i:hover, i:visited {
    color: black;
}

button {
    background-color: $lightblue;
    color: white;
    border: none;
    &.active {
        color: lightslategrey;
    }
    &:hover {
        color: grey !important;
    }

}

/*===============================
=            CLASSES            =
===============================*/

.header {
    width: 100%;
}

.row {
    flex: 1 1 auto; /* grow, shrink, basis */
    display: flex;
    text-align: center;
}

.grow {
    flex: 1 0 auto;
}

.content {
    flex: 1 0 auto; /* grow, shrink, basis */
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer {
    width: 100%;
}

/*===========================
=            IDS            =
===========================*/

#help-modal {
    display: none;
}

#title {
    color: $default;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    h1 {
        margin: 0;
    }
    .subtitle h4 {
        margin-top: 10px;
    }
    flex-direction: column;
}

#controls {
    .control {
        display: inline-block;
        text-align: center;
        span {
            display: block;
        }
        i {
            vertical-align: middle;
        }
    }

}

#icons {
    flex-direction: column;
}

#bpms {
    flex-direction: column;
    button {
        display: block;
        text-align: center;
        border-radius: 100%;
    }
}

#sponsors {
    img {
        // filter: grayscale(100%);
        opacity: 0.4;
        &:hover {
            filter: none;
            opacity: 0.6;
        }
    }
}

#wrapper {
    flex: 1 0 auto; /* grow, shrink, basis */
    display: none;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
}

// NOTE: if launched from home screen, then already in fullscreen and no need to show button for that
@media all and (display-mode: fullscreen) {
    .fullscreen { visibility: hidden }
}
