//- This is the base template. Ideally, all other templates should use this as a starting point.

html(lang="pt")

    include ../partials/head

    include ../partials/header

    body
        block body

    include ../partials/scripts
