//- This is the base template. Ideally, all other templates should use this as a starting point.

doctype html
html
    include ../partials/head
    body
        #app(v-cloak)
            include ../partials/header
            block body
        include ../partials/scripts
