/* Nuno Hespanhol's code (thanks) */

*:not(.allow-select) {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */
}

*, circle, .noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


* {
  -webkit-user-drag: none;
  user-drag: none;
}

*:focus {
  outline: none !important; /* NOTE: this removes outline from bpm buttons */
  -webkit-tap-highlight-color: transparent; /* NOTE: this removes outline from play/pause button */
}

body {
  cursor: default;
}

.point:focus {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

g, circle {
    -webkit-tap-highlight-color: transparent; /* NOTE: this is doing nothing */
    /* outline: 0 !important; */
}
