extends layout

block append head

    //- Don't allow user-scalable so that double click doesn't result in zoom
    //- And use device-width so that page on mobile doesn't just zoom out
    meta(name='viewport' content='user-scalable=0 width=device-width')

    //- NOTE: Launch in fullscreen if app pinned to homescreen
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')

    //- NOTE: Use a Web App Manifest, for better PWA experience
    link(rel='manifest', href='../manifest.json')

    link(rel='stylesheet' type='text/css' href='../_sass/circle.css')

    //- NOTE: disable Tone.js logging version to console.log
    script(type='text/javascript').
        window.TONE_SILENCE_VERSION_LOGGING = true

block main

    #breakpoint

    #loader

    #wrapper

        #help-modal.modal
            .modal-content
                span.close-button ×
                p
                    | Clica nos círculos pequenos para escolher o som - uma vez para o <span class="word blue">azul</span>,
                    | duas vezes para o <span class="word green">verde</span>, três vezes para o <span class="word red">vermelho</span>,
                    | quatro vezes para o <span class="word white">branco</span>. Clica nos botões de baixo para escolher o andamento.

                p.english
                    | Click the small circles to choose the sound - once for <span class="word blue">blue</span>, twice for <span class="word green">green</span>,
                    | three times for <span class="word red">red</span> and four times for <span class="word white">white</span>.
                    | Click the buttons at the bottom to choose the tempo.

        #header.row

            #info.right.centered
                //- a(href="/info")
                //- a(href="/")
                //-     i.fas.fa-info-circle

            #title.content.centered
                .subtitle
                    h4
                        block subtitle
                            | Sessão 1
                .title
                    h2
                        block subtitle2
                            | Ritmo

            #help.left.centered
                i.fa.fa-question-circle.help-icon


        #main.row.grow.column

            #icons.left.centered
                img(src='../_assets/images/kick3.png' alt='kick')
                img(src='../_assets/images/clap2.png' alt='clap')
                img(src='../_assets/images/snap2.png' alt='snap')

            #svg.content.centered
                //- NOTE: Javascript builds this

            #bpms.right.centered
                button(
                    v-for="button in buttons"
                    :value="button.bpm"
                    @click="click(button.bpm)"
                ) {{ button.bpm}}


        .row

            #controls.content.centered

                .control.fullscreen
                    i#btnFullscreen.fa.fa-expand(onclick="screenfull.toggle()")
                    span#spanFullScreen FULLSCREEN

                .control
                    i#btnPlay.far.fa-play-circle
                    span#spanPlay PLAY

                .control
                    i#btnRecord.far.fa-dot-circle
                    span#spanRecord REC

        footer.footer#sponsors.centered
            a(href='http://www.bragamediaarts.com/en/' target='blank'): img(src='../_assets/images/BMA-1M.png')
            a(href='http://digitopia.github.io/' target='blank'): img(src='../_assets/images/digitopia.png')
            a(href='https://www.cm-braga.pt/' target='blank'): img(src='../_assets/images/braga.png')

    include circle-scripts
