//- NOTE: using a include for this, because if using block append, because it's
//- double extending the template, it ends up appending two times.. It's
//- apprently a bug of pug that has been fixed, but for some reason that's the
//- behaviour we're getting.

//- Libraries
script(src='../_vendor/Tone.min.js')
script(src='../_vendor/js.cookie.min.js')
script(src='../_vendor/jquery-3.2.1.min.js')
script(src='../_vendor/StartAudioContext.js')
script(src='../_vendor/snap.svg-min.js')
script(src='../_vendor/shake.js')
script(src='../_vendor/lodash.min.js')
script(src='../_vendor/screenfull.min.js')
script(src='../_vendor/viewport-units-buggyfill.js')
script(src='../_vendor/recorder.js')
script(src='../_vendor/FileSaver.min.js')
script(src='https://unpkg.com/vue/dist/vue.min.js')

//- Sources
script(src='../_lib/SnapPlugins.js')
script(src='../_lib/Colors.js')
script(src='../_lib/Help.js')
script(src='../_lib/Utils.js')
script(src='../_lib/Point.js')
script(src='../_lib/Circle.js')
script(src='../_lib/App.js')
script(src='../_js/circle.js')
