doctype html
html
    head

        title 0 + 1 = Som - Ritmo

        meta(charset='UTF-8')
        meta(name='viewport' content='user-scalable=0 width=device-width')
        //- meta(name='viewport' content='user-scalable=0')        

        // NOTE: disable Tone.js logging version to console.log
        script(type='text/javascript').
            window.TONE_SILENCE_VERSION_LOGGING = true

        // Libraries
        script(src='../_vendor/Tone.min.js')
        script(src='../_vendor/js.cookie.min.js')
        script(src='../_vendor/jquery-3.2.1.min.js')
        script(src='../_vendor/StartAudioContext.js')
        script(src='../_vendor/snap.svg-min.js')
        script(src='../_vendor/shake.js')
        script(src='../_vendor/jquery.fittext.js')
        script(src='../_vendor/lodash.min.js')
        script(src='../_vendor/screenfull.min.js')

        // CSS
        link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Raleway')
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='../_css/dom2.css')
        link(rel='stylesheet', type='text/css', href='../_css/ui.css')
        link(rel='stylesheet', type='text/css', href='index.css')

        // Javascript Sources
        script(src='../_lib/snap.plugins.js')
        script(src='../_lib/colors.js')
        script(src='../_lib/help.js')
        script(src='../_lib/utils.js')
        script(src='../_lib/Point.js')
        script(src='../_lib/Circle.js')
        script(src='../_lib/App.js')
        script(src='index.js')

        // Favicon
        link(rel='shortcut icon', href='../_assets/images/favicon.ico')

        // Google Analytics Code
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-92881433-1', 'auto');
            ga('send', 'pageview');

    body
        .wrapper
            .help
                i.fa.fa-question-circle.help-icon(aria-hidden='true')
            .modal
                .modal-content
                    span.close-button ×
                    p
                        | Clica nos círculos pequenos para escolher o som - uma vez para o <span class="word blue">azul</span>,
                        | duas vezes para o <span class="word green">verde</span>, três vezes para o <span class="word red">vermelho</span>,
                        | quatro vezes para o <span class="word white">branco</span>. Clica nos botões de baixo para escolher o andamento.

                    p.english
                        | Click the small circles to choose the sound - once for <span class="word blue">blue</span>, twice for <span class="word green">green</span>,
                        | three times for <span class="word red">red</span> and four times for <span class="word white">white</span>.
                        | Click the buttons at the bottom to choose the tempo.

            .head
                h1
                    a(href='/') 0 + 1 = SOM
            .main
                #binary-placeholder.binary
                .labels
                    .imagesWrapper
                        img(src='../_assets/images/kick3.png' alt='kick')
                        img(src='../_assets/images/clap2.png' alt='clap')
                        img(src='../_assets/images/snap2.png' alt='snap')
                #canvas-placeholder
                .playback
                    .button-wrapper
                        button#playButton.play.noSelect(value='') Play
                    #binary-placeholder-2.binary
            #bpmButtons
            
            i.fa.fa-arrows-alt.fullscreen(aria-hidden='true')
            
            footer
                .logos
                    .gallery
                        a(href='http://digitopia.github.io/', target='blank')
                            img#digi(src='../_assets/images/digitopia.png')
                    .gallery
                        a(href='http://www.bragamediaarts.com/en/', target='blank')
                            img#bma(src='../_assets/images/BMA-1M.png')
                    .gallery
                        a(href='https://www.cm-braga.pt/', target='blank')
                            img#braga(src='../_assets/images/braga.png')
