head

    block head

        meta(charset='utf-8')

        meta(name='viewport', content='width=device-width, initial-scale=1')

        //- Favicon
        link(rel='shortcut icon', href='../_assets/images/favicon.ico')

        //- css
        link(rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')

        //- fonts
        link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Raleway')
        link(rel="stylesheet" type='text/css' href="https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css")
        link(rel='stylesheet' type='text/css' href='https://use.fontawesome.com/releases/v5.0.6/css/all.css')

        //- unset background color
        style.
            body { background-color: unset !important; }

    block title
        title 0 + 1 = SOM

