doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='user-scalable=0 width=device-width')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel='manifest', href='/manifest.json')
  body
    .holygrail-body.small
      .content Content
      ul.nav
        li Menu 1
        li Menu 2
        li Menu 3
      .aside
        button(type='button', name='button', onclick='screenfull.toggle()') Fullscreen 2
    .holygrail-body
      .content Content
      ul.nav
        li Menu 1
        li Menu 2
        li Menu 3
      .aside Aside
    div
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis nemo non explicabo, natus voluptatibus perferendis rerum quos consectetur eum consequatur facilis hic saepe tenetur doloribus cupiditate numquam! Quae, itaque, esse!
    footer.footer Footer
    script.
      setTimeout(function() { window.scrollTo(0, 1) }, 100)
      // viewportUnitsBuggyfill.init();
      // if (document.getElementById('patched-viewport')) {
      //     window.addEventListener('resize', viewportUnitsBuggyfill.refresh, true);
      // }
