extends ../_pug/layouts/session

block append head
    link(rel='stylesheet' type='text/css' href='index.css')

block main

    .col-sm-1
        #bpm
            output#bpmVal 60
            #bpmSlider

    .col-sm-10
        #svg

    .col-sm-1
        |

block append scripts
    script(src='../_lib/Utils.js')
    script(src='../_lib/SnapPlugins.js')
    script(src='../_lib/Help.js')
    script(src='../_lib/BaseApp.js')
    script(src='https://rawgit.com/nexus-js/ui/master/dist/NexusUI.js')
    script(src='index.js')
