extends ../_pug/layouts/session

block append head
    link(rel='stylesheet' type='text/css' href='index.css')

block header-title
    | 0 + 1 = SOM

block title
    title 0 + 1 = SOM | Sessão 5

block subtitle
    | Sessão 5

block subtitle2
    | Notação

block instructions-pt
    | Clica nas figuras ou nos números para mudar o ritmo. Tenta tocá-lo e, se precisares de ajuda, usa o botão "Play". Ajusta a velocidade no controlador à esquerda.

//- block instructions-en
//-     | Click the musical figures or the numbers to change the rhythm. Try to play it and, if you need help, use the "Play" button. Adjust the tempo on the slider to the left.

block main

    //- force load of all images so that when they are needed they are already loaded
    .hide(style="display: none")
        img(src="/_assets/svg/4R.svg", alt="")
        img(src="/_assets/svg/8th.svg", alt="")
        img(src="/_assets/svg/8thR.svg", alt="")
        img(src="/_assets/svg/2x8.svg", alt="")
        img(src="/_assets/svg/blank.svg", alt="")

    .col-1.padding-0
        #bpm
            output#bpmVal 60
            #bpmSlider

    .col-11.padding-0
        #svg

    //- .col-1.padding-0
    //-     |

block append scripts

    //- Use fork for similar effect to what we had before
    //- script(src='/_vendor/NexusUI.min.js')

    //- Use original version
    script(src='https://rawgit.com/nexus-js/ui/master/dist/NexusUI.js')

    script(src='/_lib/Utils.js')
    script(src='/_lib/SnapPlugins.js')
    script(src='/_lib/BaseApp.js')
    script(src='index.js')
