@import "../_sass/circle";

html {
    background-color: honeydew;
}

.left, .right {
    width: 10%;
}

#svg {
    // height: 100%;
    // border: 1px solid green;
    // border: 1px solid red;
}

#svg svg {
    // border: 1px solid black;
    // max-height: 100% !important;
    // min-height: 100% !important;
    // height: 100% !important;
}

#bpm {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #bpmVal {
        font-size: 2em;
    }
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}
