extends ../_pug/layouts/session

block append head
    link(rel='stylesheet' type='text/css' href='index.css')

block header-title
    | 0 + 1 = SOM

block title
    title 0 + 1 = SOM | S5

block subtitle
    | {{ $t("session") }} 4

block subtitle2
    | {{ $t("sessionNames")[3] }}

block instructions
    | {{ $t("help.session5") }}

block main

    //- force load of all images so that when they are needed they are already loaded
    .hide(style="display: none")
        img(src="/_assets/svg/4R.svg", alt="")
        img(src="/_assets/svg/8th.svg", alt="")
        img(src="/_assets/svg/8thR.svg", alt="")
        img(src="/_assets/svg/2x8.svg", alt="")
        img(src="/_assets/svg/blank.svg", alt="")

    .left.centered
        #bpm
            output#bpmVal 60
            #bpmSlider

    .content#svg.centered

    .right.centered

block append scripts

    //- Use fork for similar effect to what we had before
    //- script(src='/_vendor/NexusUI.min.js')

    //- Use original version
    script(src='https://rawgit.com/nexus-js/ui/master/dist/NexusUI.js')

    script(src='/_lib/Utils.js')
    script(src='/_lib/SnapPlugins.js')
    script(src='/_lib/BaseApp.js')
    script(src='index.js')
