extends ../_pug/layouts/session

block header-title
    | 0 + 1 = SOM

block title
    title 0 + 1 = SOM | Sessão 4

block subtitle
    | Sessão 4

block subtitle2
    | Canção

block instructions-pt
    | Clica números para decidir se o instrumento toca

block append head
    link(rel='stylesheet' type='text/css' href='index.css')

block main

    #labels.col-1.d-flex
        ul.d-flex.justify-content-around.flex-column
            li(v-for="label in labels")
                | {{label}}

    #sequencers.col-10.d-flex.flex-column.justify-content-around
        div(v-for="(track, tid) in tracks" :id="`track-${tid}`").d-flex.justify-content-around
            button(
                v-for="(_, mid) in measures"
                :id="`btn-${tid}-${mid}`"
            ) 0

    .col-1

block append scripts
    script(src='/_lib/Utils.js')
    script(src='/_lib/SnapPlugins.js')
    script(src='/_lib/BaseApp.js')
    script(src='https://rawgit.com/nexus-js/ui/master/dist/NexusUI.js')
    script(src='index.js')
