@import "../_sass/circle";

html {
    background-color: rgb(235, 255, 255);
}

#main {
    justify-content: center;
}

#labels {
    text-align: right;
}

#labels ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    // border: 1px solid black;
}

#labels li {
    // border: 1px solid black;
}

#sequencers div {
    // border: 1px solid black;
}

#sequencers button {
    background: transparent;
    text-align: center;
    width: 4em;
    height: 4em;
    margin: 10px;
}
