extends ../_pug/layouts/session

block header-title
    | 0 + 1 = SOM

block title
    title 0 + 1 = SOM | Sessão 4

block subtitle
    //- | Sessão 4
    |

block subtitle2
    //- | Canção
    |

block instructions-pt
    | &nbsp;

block append head
    link(rel='stylesheet' type='text/css' href='index.css')

block main


block append scripts

    script(src='/_vendor/p5.min.js')
    script(src='/_vendor/p5.sound.min.js')

    script(src='/_lib/Utils.js')

    script(src='_old/points.js')
    script(src='_old/player.js')
    script(src='_old/sketch.js')

    script(src='index.js')
