extends ../_pug/layouts/session

block header-title
    | 0 + 1 = SOM

block title
    title 0 + 1 = SOM | S4

block subtitle
    | {{ $t("session") }} 4

block subtitle2
    | {{ $t("sessionNames")[3] }}

block instructions
    | {{ $t("help.session4") }}

block append head
    link(rel='stylesheet' type='text/css' href='index.css')

block main

    #labels.col-2.d-flex
        ul.d-flex.justify-content-around.flex-column
            li(v-for="(_, idx) in labels")
                | {{ $t("tracks")[idx] }}

    #sequencers.col-8.d-flex.flex-column.justify-content-around
        div(v-for="(track, tid) in tracks" :id="`track-${tid}`").d-flex.justify-content-around
            button(
                v-for="(_, mid) in measures"
                :id="`btn-${tid}-${mid}`"
            ) 0

    .col-2

block append scripts
    script(src='/_lib/Utils.js')
    script(src='/_lib/SnapPlugins.js')
    script(src='/_lib/BaseApp.js')
    script(src='https://rawgit.com/nexus-js/ui/master/dist/NexusUI.js')
    script(src='index.js')
