extends ../_pug/layouts/circle

block header-title
    | 0 + 1 = SOM

block title
    title 0 + 1 = SOM | {{ $(t("sessionNames")[2]) }}

block subtitle
    | {{ $t("session") }} 3

block subtitle2
    | {{ $t("sessionNames")[2] }}

block instructions
    | {{ $t("help.circle") }}
